.about-us__figure {
    width: 75vw;
    margin: 0% auto;
    padding: 0 0 3% 0;
}

.about-us__title {
    margin: 0 auto 10% auto;
}

.about-us__text {
    text-align: justify;
}

.about-us__img_right {
    float: right;
    width: 15vw;
    padding: 0 0 0 5%;
}

.about-us__img_left {
    float: left;
    width: 35vw;
    padding: 0 7% 3% 0;
}

.clearfix {
    clear: both;
}

@media screen and (min-width: 768px) and (max-width: 1278px) {
    #aboutUs {
        margin-top: 10%;
    }

    .about-us__img_right {
        width: 13vw;
    }

    .about-us__img_left {
        width: 32.5vw;
        padding: 0 5% 0 0;
    }

    /* .about-us__text {
        margin-top: 11%;
    } */
}

@media screen and (min-width: 1279px) {
    /* #aboutUs {
        margin-top: 10%;
    } */

    .about-us__figure {
        width: 55vw;
    }

    .about-us__img_right {
        width: 5vw;
    }

    .about-us__img_left {
        width: 19.5vw;
    }

    /* .about-us__text {
        margin-top: 0 auto;
    } */
}
