.footer {
    margin: 0 auto;
    padding: 5% 0 10% 0;
    background-color: black;
    display: flex;
    height: 100%;
    color: aliceblue;
    justify-content: center;
    align-items: center;
}

.footer__logo {
    margin: 15px 0 0 5px;
    width: 35px;
    /* border: 1px solid white; */
}

.footer__item-link {
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    /* border: 1px solid white; */
}

.footer__link {
    color: aliceblue;
    font-size: 1em;
    line-height: 1.3em;
    text-align: center;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
    color: rgb(253, 131, 131);
}

.footer__img {
    width: 15%;
    margin: 0 1%;
    /* border: 1px solid white; */
}

@media screen and (min-width: 768px) and (max-width: 1278px) {
    .footer {
        justify-content: space-around;
    }

    .footer__item-link {
        margin: 0 0 0 5%;
    }

    .footer__logo {
        width: 75px;
    }
}

@media screen and (min-width: 1279px) {
    .footer {
        justify-content: space-around;
    }

    .footer__link {
        font-size: 1.5em;
        line-height: 1.8em;
    }

    .footer__item-link {
        margin: 0 0 0 10%;
    }

    .footer__logo {
        width: 95px;
    }
}
