.footer {
    margin: 0 auto;
    padding: 5% 0 10% 0;
    background-color: black;
    display: flex;
    height: 100%;
    color: aliceblue;
    justify-content: space-around;
    /* align-items: center; */
}

.footer__logo {
    margin: 0 1%;
    width: 100%;
    /* opacity: 0.7; */
}

.footer__item-link {
    display: flex;
    flex-direction: column;
}

.footer__link {
    color: aliceblue;
    font-size: 1em;
    text-align: center;
    line-height: 2em;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__img {
    width: 128px;
    /* width: 10%; */
    /* height: 10%; */
    margin: 0 1%;
}
