@import url("https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Great+Vibes&display=swap");

@import url("./header.css");

@import url("./main.css");

@import url("./about-us.css");

@import url("./owl.carousel.min.css");
@import url("./owl.theme.default.min.css");
@import url("./carousel.css");

@import url("./menu.css");

@import url("./faq.css");

@import url("./footer.css");

:root {
    --text: "Cormorant Infant", serif;
    --texcolor: rgba(88, 88, 88, 0.911);
    /* --texcolor: black; */
    --great-vibes: "Great Vibes", serif;
    --gvcolor: rgba(0, 0, 0, 0.651);
    /* --gvcolor: black; */
}

.title {
    color: var(--texcolor);
    font-family: var(--text);
    font-size: 2em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.text {
    color: var(--texcolor);
    font-family: var(--text);
    font-size: 1.2em;
    line-height: 1.3em;
}
